
/*Start New about-us Style-1*/
#about-us .about-box {
    background-color: transparent;
    padding: 0px;
    margin-bottom: 0px;
}

#about-us .about-box .item-subtitle {
    color: #FF981A;
    font-weight: 600;
    margin-bottom: 15px;
}

#about-us .about-box .item-title {
    font-weight: 800;
    margin-bottom: 22px;
}

#about-us .about-box .item-title span {
    display: block;
}

#about-us .about-box p {
    color: #71728c;
    margin-bottom: 30px;
    width: 90%;
}

#about-us .about-box .button-slide .btn-text {
    margin-left: 20px;
}

#about-us .about-box .button-slide .btn-icon {
    margin-left: 10px;
}

#about-us .about-box .features-list {
    position: relative;
}

#about-us .about-box .features-list:before {
    content: "";
    height: 90%;
    width: 50%;
    border: 9px solid #e1e1e1;
    border-radius: 50%;
    border-top: none;
    border-left: none;
    border-bottom: none;
    position: absolute;
    top: 50%;
    left: -25%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#about-us .media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

#about-us .about-box ul {
    list-style: none;
}
#about-us .media-body {
    -ms-flex: 1;
    flex: 1;
}

#about-us .about-box .features-list li {
    margin-bottom: 35px;
}

#about-us .about-box .features-list li:last-child {
    margin-bottom: 0;
}

#about-us .about-box .features-list li:nth-child(even) {
    padding-left: 80px;
}

#about-us .about-box .features-list .media:hover .item-icon {
    background-color: #FF981A;
    color: #ffffff;
}

#about-us .about-box .features-list .media:hover .media-body .item-title {
    color: #FF981A;
}

#about-us .about-box .features-list .item-icon {
    font-size: 50px;
    color: #b3b3b3;
    height: 130px;
    width: 130px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 31px 65px 0 rgba(153, 153, 153, 0.28);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 25px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

#about-us .about-box .features-list .media-body .item-title {
    font-size: 22px;
    margin-bottom: 12px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#about-us .about-box .features-list .media-body p {
    margin-bottom: 0;
}

@media only screen and (max-width: 1199px) {
    #about-us {
        padding: 100px 0 50px;
    }
     #about-us .about-box .features-list:before {
        left: -17%;
    }
    #about-us .about-box p {
        width: 100%;
    }
}

@media only screen and (max-width: 991px) {
    #about-us {
        padding: 80px 0 30px;
    }
    #about-us .about-box .features-list:before {
        display: none;
    }
    #about-us .about-box .features-list li:nth-child(even) {
        padding-left: 0;
    }
}
@media only screen and (max-width: 575px) {
    #about-us .about-box .features-list .item-icon {
        height: 100px;
        width: 100px;
        font-size: 40px;
    }
}
/*End New about-us Style-1*/