/*------------------------------------------------------------------
[Master Stylesheet]
-------------------------------------------------------------------*/


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

 
html,
	body {
	  height: 100%;
	  width: 100%;
	}
	
body {
	color:#000;
  	font-family :'Open Sans', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family :'Montserrat', sans-serif;
	color:#333;
	font-weight :300;
}

p {
	line-height: 1.5;
	/*margin-bottom: 20px;*/
	color:#ccc;
}

/*-------white backgoround color for P-----*/
.b-white p{
	color:#666;	
	}
/*-------black backgoround color for P-----*/
.b-black p{
	color:#ccc;
	}

.bold{
	font-weight:600;	
}
.heading{
	padding-bottom:30px;	
	}
.violate{
	color:#C36DFF;
}
.white{
	color: #fff;
}
.black{
	color:#000;
}
.gray{
	color:#898989;
}
.bg-violate{
	background-color:#C36DFF;
}
.bg-black{
	background-color:#000;	
	}
.light-gray{
	background-color:#f7f7f7;
}
.bg-white{
	background-color:#FFF;	
	}

.dart-headingstyle-nine .dart-heading {
    text-transform: capitalize;
    position: relative;
}
.dart-headingstyle-nine p {
    margin: 10px 0 0;
}

.dart-pb-30 {
    padding-bottom: 0px;
}
/*.nav-link {
  display: block;
  padding: .5rem 1rem;
  color: #000;
    float: right;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.sidebar-menu li > a > span.active {
  color: #C36DFF;
}*/

.footer.bg-black .footer-link ul li a:hover {
    color:#C36DFF;
    vertical-align: top;
    display: block;
}

.footer.bg-black .footer-link ul li a {
    color: #898989;
    /* vertical-align: top; */
    display: block;
    font-size: 14px;
}

.footer-copyright {
  padding: 8px 0;
  border-top: 1px solid rgba(186, 175, 175, 0.26);
}

footer.footer-2 .address li a:hover {
  color: #C36DFF !important;
}

.theme-bg, .accordion.gray .acd-group.acd-active .acd-heading, .accordion.gray .acd-group .acd-heading:hover, .accordion.shadow .acd-group.acd-active .acd-heading, .accordion.shadow .acd-group .acd-heading:hover, .accordion.accordion-border .acd-group.acd-active .acd-heading, .accordion.accordion-border .acd-group .acd-heading:hover, 
 .owl-carousel .owl-dots .owl-dot:hover span, .owl-carousel .owl-dots .owl-dot.active span, .data-table .table-1 thead, .dropcap, mark, .feature-text.round:hover .feature-icon i, .feature-text.round:hover .feature-icon span, .feature-text.theme-icon .feature-icon span, .feature-text.theme-icon .feature-icon i, .feature-text.square:hover .feature-icon i, .feature-text.square:hover .feature-icon span, .feature-box .border, 
 .section-title.line .title::before, .section-title.bg span, .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover, .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover, .panel-primary > .panel-heading, .price.active .header, .membership-pricing-table table .plan-header-standard, .play-video, .nav-border .nav.nav-tabs > li.active > a, .nav-border .nav.nav-tabs > li.active > a:focus, .nav-border .nav.nav-tabs > li.active > a:hover, .testimonial.green, .mejs-controls .mejs-time-rail .mejs-time-current, .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current, .mejs-controls .mejs-volume-button .mejs-volume-slider, .footer .footer-tags li a:hover, .section-title:nth-child(2n+1) .title-effect::before, .isotope-filters button.active, .isotope-filters button:hover, .blog-entry.blockquote, .blog-entry.blockquote blockquote, .blog-entry.blockquote .blog-detail, .blog-box .post-category a, .blog .timeline li:hover .timeline-badge, .blog .timeline li.entry-date-bottom a:hover, .contact-box i, .custom-content, .owl-carousel .owl-nav i, .services-text-box-green, .popup-video-banner a:hover span, .process .process-step strong, .tab .nav.nav-tabs > li.active > a, .nav.nav-tabs > li.active > a:focus, .nav.nav-tabs > li.active > a:hover, .testimonial.theme-bg, .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover, .pagination li a:focus, .pagination li a:hover, .pagination li span:focus, .pagination li span:hover {
  background: #C36DFF !important;
}

.rev-button, .rev-btn, .badge-primary, .nav-pills .nav-link.active, .nav-pills .show > .nav-link, .bg-primary {
    background:#C36DFF !important;
}

ul.attributes li a {
    display: block;
    padding: 18px 10px;
    color: #222;
}

nav .brand {
  display: block;
  position: relative;
 width: 180px;
padding: 0px 0px;
/*margin: -3px;*/
}
.app-menu {
  position: absolute;
  top: 28px;
  left: 15px;
  padding: 0px;
  margin: 0px;
}

.nav-header ul.attributes {
  position: relative;
  z-index: 9;
  margin-right: 10px;
  margin-top: 12px;
}

.top-bar .core-nav.nav-core-sticky {
  top: 56px;
}

/*nav.nav-white.nav-transparent .menu li a:hover, nav.nav-white.nav-transparent ul.attributes li a:hover {
    color: #C36DFF !important;
}

nav.nav-white.nav-transparent.nav-core-sticky.on-scroll.core-nav .dropdown > .dropdown-menu > li > a:hover, nav.nav-white.nav-transparent.nav-core-sticky.on-scroll .menu .megamenu-content li a:hover, nav.nav-white.nav-transparent.nav-core-sticky.core-nav .dropdown > .dropdown-menu > li > a:hover, nav.nav-white.nav-transparent.nav-core-sticky .menu .megamenu-content li a:hover {
    color: #C36DFF !important;
}*/

.cs-button {
    background: #C36DFF ;
    padding: 10px 20px;
    font-size: 0.928rem;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    border: 2px solid #C36DFF;
    cursor: pointer;
}

.table-1 tbody tr td {
    color: #000;
    font-size: 16px;
    padding: 12px 0;
    text-align: center;
}


.sketch-button {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
 /* background-image: linear-gradient(90deg, #fcecfe, #fbf6e7, #e6fcf5);*/
 background-color: #000;
  border-radius: 11px;
  padding: 12px 20px;
  position: relative;
  line-height: 24px;
  color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02), 0 4px 16px rgba(0, 0, 0, 0.02), 0 4px 24px rgba(0, 0, 0, 0.02);
}
.sketch-button:hover{
	color: #C36DFF !important;
}
.sketch-button.start svg {
  -webkit-animation: stroke 1s linear;
          animation: stroke 1s linear;
}
.sketch-button .lines {
  position: absolute;
  inset: 0;
  mix-blend-mode: hard-light;
  pointer-events: none;
  z-index: 1;
}
.sketch-button .lines > div {
  position: absolute;
  inset: 0;
}
.sketch-button .lines > div:last-child {
  transform: rotate(180deg);
}
.sketch-button .lines > div svg {
  display: block;
  position: absolute;
  inset: 0;
  overflow: visible;
  fill: none;
  stroke-width: 2;
  stroke: #c9e9ff;
  width: 100%;
  height: 100%;
  stroke-dasharray: 2 10;
  stroke-dashoffset: 14;
  opacity: 0;
}
.sketch-button .lines > div svg:nth-child(1) {
  stroke: #f8fcff;
}
.sketch-button .lines > div svg:nth-child(2) {
  stroke-width: 6px;
  filter: blur(20px);
}
.sketch-button .lines > div svg:nth-child(3) {
  stroke-width: 5px;
  filter: blur(6px);
}
.sketch-button .lines > div svg:nth-child(4) {
  stroke-width: 10px;
  filter: blur(56px);
}

@-webkit-keyframes stroke {
  30%, 55% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 4;
    opacity: 0;
  }
}

@keyframes stroke {
  30%, 55% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 4;
    opacity: 0;
  }
}

.related-blog .post-category a {
    display: inline-block;
    padding: 12px 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    border-radius: 11px;
    color: #fff;
    background-color: #000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: ll 0.3s ease;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}



.related-blog {
	padding: 30px;
	border: 1px solid #ddd;
	position: relative;
	z-index: 1;
	margin-right: 0px;
}


.rev-button:hover, .rev-btn:hover {
	background: #2A2A2A !important;
	color: #FFF !important;
}


/*-- Heading --*/
	
	/*---Style 6---*/
	
	.dart-headingstyle-six .dart-heading {
		text-transform: uppercase;
	}
	.dart-headingstyle-six  p {
    margin-bottom: 0;
    font-size: 14px;
}




.nav-link:focus, .nav-link:hover {
	color: #2A2A2A;
}


.side {
	background-color: #333333;
}

@media only screen and (max-width: 767px) {
	
	.top-container .top-column-left {
		display: none;
	}
	.top-container .top-column-right {
    	padding-right: 15px;
	}
	.top-container {
		font-size:13px;
	}
}


.logo{
	width:140px;
	height:auto;	
	}
@media only screen and (max-width: 991px) {
	.logo{
		width:130px;
		height:auto;
		margin-top: -5px;	
	}
}	


/*-- End Nav --*/

/*-- playlist --*/
.bg-playlist{
	background-image: url(../images/music/bg-playlist.jpg);
	background-attachment:fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	}
	
.playlist-row table{
	color:#FFF;	
	}
.playlist-row th{
	color:#FFF;	
	}
.playlist-row h3, h5, h1{
	color:#FFF;	
	}
.playlist-row a{
	color:#FFF;	
	}
.playlist-row p{
	font-size:1.2857142857142858em;
	margin-bottom:0px;	
	}
.playlist-row table tr{
	color:#FFF;	
	}
.playlist-row table tr:hover{
	color:#C36DFF;
	background-color:#FFF;	
	}

.playlist-row table tr:hover a{
	color:#000;	
	}
.playlist-row table tr:hover p{
	color:#000;	
	}
.playlist-row table tr:hover a:hover{
	color:#C36DFF;	
	}
.playlist-row table tr th{
	color:#fff;
	background-color:#C36DFF;
	font-size: 20px;
	font-weight: 700;	
	}
.playlist-row table tr th:hover{
	color:#fff;
	background-color:#C36DFE;	
	}

/*-- Counter --*/
.bg-counter{
		color:#FFF;
		padding:100px 0px;
	}
.bg-counter h1, h5{
	color:#FFF;	
	}
	
/*-- Concert --*/
.bg-video{
	background-image:url(../images/music/bg-concert.jpg);	
background-attachment:fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	}
.video{
	width:100%; 
	height:650px;	
	}
	
	
/*-- Blog post --*/

/*--- Blog Post Style Here ---*/


	/*---Blog Style 1---*/
	.blogstyle-1 .blog-post-container {
		margin-bottom:15px;
	}
	.blogstyle-1 .blog-post-container .post-thumbnail {
		position: relative;
	}
	.blogstyle-1 .blog-post-container .post-thumbnail img {
		width: 100%;
	}	
	.blogstyle-1 .blog-post-container .blog-content {
		border: 1px solid #ededed;
	}
	.blogstyle-1 .blog-post-container .dart-header {
		padding: 20px 20px 0;
	}
	.blogstyle-1 .blog-post-container .dart-title {
		text-transform: capitalize;
	}
	.blogstyle-1 .blog-post-container .dart-title a {
		color: #333;
	}
	.blogstyle-1 .blog-post-container .dart-header .dart-meta {
		font-size:0.7142857142857143em;
		text-transform: uppercase;
		margin-top: 10px;
	}
	.blogstyle-1 .blog-post-container .dart-footer .dart-meta {
		margin-bottom:0px;
	}
	.blogstyle-1 .blog-post-container .dart-header .dart-meta li {
		display: inline-block;
		border-right: 1px solid #E7E7E7;
		line-height: 10px;
		padding-right: 15px;
		margin-right: 15px;
	}
	.blogstyle-1 .blog-post-container .dart-header .dart-meta li:last-child {
		border-right: 0;
		padding-right: 0;
		margin-right: 0;
	}
	.blogstyle-1 .blog-post-container .dart-header .dart-meta li a {
		color: #666;
	}
	.blogstyle-1 .blog-post-container .dart-content {
		padding: 20px;
		    padding-top: 0px;
	}
	.blogstyle-1 .blog-post-container .dart-content p {
		margin: 0;
	}
	.blogstyle-1 .blog-post-container .dart-footer {
		background-color: #f7f7f7;
		padding: 8px 20px;
		border-top: 1px solid #ebebeb;
	}
	.blogstyle-1 .blog-post-container .dart-footer .dart-meta a {
		color: #898989;
		font-size:0.8571428571428571em;
		text-transform: capitalize;
	}
	#blogstyle-1Slider .carousel-control.left, #blogstyle-1Slider .carousel-control.right {
		background-image: none;
		background-color: #fff;
	}
	#blogstyle-1Slider .carousel-control {
		top: 50%;
		margin-top: -13px;
		bottom: auto;
		width: 26px;
		height: 26px;
		font-size: 18px;
		color: #898989;
		text-shadow: none;
		filter: alpha(opacity=100);
		opacity: 1;
	}
	.blogstyle-1 .blog-post-container .play-trigger {
		position: absolute;
		left: 50%;
		top: 55%;
		width: 70px;
		height: 45px;
		margin-left: -30px;
		margin-top: -30px;
		border: 0;
		border-radius: 10%;
		color: #fff;
		background: #cd201f;
		font-size:1.4285714285714286em;
		line-height: 45px;
		text-align: center;
		-webkit-transition: all .3s ease 0s;
		-moz-transition: all .3s ease 0s;
		-o-transition: all .3s ease 0s;
		transition: all .3s ease 0;
	}
	.blogstyle-1 .blog-post-container .play-trigger i {
		margin-left: 5px;
	}
	.blogstyle-1 .blog-post-container .play-trigger:hover {
		color: #cd201f;
		background: #fff;
	}
	.blogstyle-1 .blog-post-container .dart-title a:hover, .blogstyle-1 .blog-post-container .dart-title a:focus {
		color: #C36DFF;
		text-decoration:none;
	}
	.blogstyle-1 .blog-post-container .dart-footer .dart-meta a:hover, .blogstyle-1 .blog-post-container .dart-footer .dart-meta a:focus  {
		color: #C36DFF;
		text-decoration:none
	}
	.blogstyle-1 .blog-post-container .dart-header .dart-meta li a:hover, .blogstyle-1 .blog-post-container .dart-header .dart-meta li a:focus {
		color: #C36DFF;
		text-decoration:none;
	}
	@media (max-width : 991px) {
	.blogstyle-1 .blog-post-container .dart-header {
		padding: 5px 10px 0;
	}
	.blogstyle-1 .blog-post-container .dart-content {
		padding: 10px;
	}
	.blogstyle-1 .blog-post-container .dart-footer {
		padding: 8px 10px;
	}
	}


/*-- Footer --*/
/*---Footer style Here---*/


	/*---Style 1---*/

	.footerOne{
		background-color: #000;
		padding: 50px 0 0;
	}
	.footerOne .footer-widget h4 {
		color: #fff;
		margin-bottom: 30px;
	}
	.footerOne .footer-widget{
		color: #ccc;
	}
	.footerOne .footer-widget.widget_text{
		padding-right:20px;
	}
	.footerOne .footer-widget h4 {
		color: #fff;
		margin-bottom: 30px;
	}
	.footerOne .useful-links>ul>li>a {
		line-height: 30px;
		color: #ccc;
	}
	.footerOne .useful-links>ul>li>a:hover {
		color: #fff;
		text-decoration:none;
	}
	.footerOne .useful-links>ul>li>a i {
		visibility:hidden;
		margin-left: -10px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}

	.footerOne .useful-links>ul>li>a:hover i {
		color: #C36DFF;
		padding-right:10px;
		margin-left: 0px;
		visibility:visible;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.footerOne form {
		padding:5px 0px;
	}
	.footerOne form .form-control {
		background-color: #fff;
		border: 1px solid transparent;
		min-height: 40px;
		padding: 0 20px;
	}
	.footerOne form .form-group{
		margin-top:-2px;
	}
	.footerOne form button {
		position: relative;
		background-color: #fff;
		border: 1px solid transparent;
		color: #C36DFF;
		min-height:40px;
		border-radius:4px;
		text-transform: uppercase;
		padding:0 20px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.footerOne form button:hover {
		background-color: #C36DFF;
		color: #fff;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.footerOne .newsletter-seb form span{
		color:#fff;
		padding-right: 30px;
	}
	.footerOne .payment-opt{
		color:#fff;
		padding: 10px 0px;
	}
	.footerOne .payment-opt span{
		padding-right: 10px;
	}
	.footerOne .payment-opt img{
		display:inline-block;
	}	
	.footerOne .footer-bottom-section{
		text-align:center;
	}
	.footerOne .footer-bottom-section .copyright, .footerOne .footer-bottom-section .social a  {
		color: #ccc;
	}
	.footerOne .footer-bottom-section .social a:hover  {
		color: #C36DFF;
	}
	
	@media (max-width : 991px) {
	.footerOne .useful-links > ul > li > a {
		line-height: 20px;
	}
	.footerOne .newsletter-seb form span, .footerOne .payment-opt span  {
		display: block;
		padding-bottom:15px;
	}
	.footerOne .newsletter-seb form span {
		display: block;
		padding-bottom:15px;
	}
	}
	@media (max-width : 767px) {
	.footerOne .footer-widget h4 {
		margin-bottom: 10px;
	}
	.footerOne .useful-links > ul > li > a i {
		margin-left: -5px;
	}
	}


/*---Responsive Media Screen style---*/


@media only screen and (max-width: 3500px) {
/*body*/
	body {
		overflow-x: hidden;
	}
}
	
@media only screen and (max-width: 2500px) {}

@media only screen and (max-width: 2100px) {}

@media only screen and (max-width: 1600px) {}

@media only screen and (max-width: 1566px) {}

@media only screen and (max-width: 1366px) {}

@media only screen and (min-width: 1300px) {
	
}	

@media only screen and (max-width: 1280px) {}

@media (min-width: 1280px) {}

@media only screen and (max-width: 1199px) {

}
@media only screen and (max-width: 1024px) {
	
}

@media only screen and (max-width: 991px) {
	body{
		font-size:100%;
	}
}


/*--------------iPhone 6 plus landscape----------------*/
@media only screen and (max-width: 767px) {
	body{
		font-size:130%;
	}
	
}

/*--------------iPhone 6 landscape----------------*/
@media only screen and (max-width: 667px) {}

/*--------------iPhone 5 landscape----------------*/
@media only screen and (max-width: 568px) {}

@media only screen and (max-width: 480px) {
	
}

/*--------------iPhone 6 plus portrait----------------*/


/*--------------iPhone 6 portrait----------------*/
@media only screen and (max-width: 375px) {}

/*--------------iPhone 5 portrait----------------*/
@media only screen and (max-width: 320px) {}

@media only screen and (max-width: 300px) {}

@media only screen and (max-width: 200px) {}

a:focus, a:hover {
    color:#FFF;
    text-decoration: none !important;
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
  color:#C36DFF ;
    float: right;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

ul.attributes li a {
  display: block;
  padding: 16px 10px;
  color: #222;
}

.sidebar-menu li > a > span.active {
  color:#C36DFF;
}
.sidebar-menu > li.menu-open > a > span {
	color:#C36DFF;
}
.sidebar-menu .treeview-menu > li.active > a {
  color: #C36DFF;
  opacity: 1;
}





nav {
  border-bottom: solid 1px #efefef;
  min-height: 60px;
  background: #fff;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300; }

nav .wrap-core-nav-list,
nav .nav-header {
  background: #fff; }

nav .brand {
  display: block;
  position: relative;
  width: 130px;
  padding: 2px 0px; }

nav .brand img {
  width: 100%; }



nav.nav-white.nav-transparent .menu li a, nav.nav-white.nav-transparent ul.attributes li a {
  color: #ffffff;
  line-height: 1.3; }

nav.nav-white.nav-transparent.nav-core-sticky.on-scroll .menu li a,
nav.nav-white.nav-transparent.nav-core-sticky.on-scroll ul.attributes li a,
nav.nav-white.nav-transparent.nav-core-sticky.on-scroll.core-nav .dropdown > .dropdown-menu > li > a,
nav.nav-white.nav-transparent.nav-core-sticky.on-scroll .menu .megamenu-content li a,
nav.nav-white.nav-transparent.nav-core-sticky.core-nav .dropdown > .dropdown-menu > li > a,
nav.nav-white.nav-transparent.nav-core-sticky .menu .megamenu-content li a {
  color: #ffffff; }

nav.nav-white.nav-transparent.nav-core-sticky.on-scroll.core-nav .dropdown > .dropdown-menu > li > a,
nav.nav-white.nav-transparent.nav-core-sticky.on-scroll .menu .megamenu-content li a,
nav.nav-white.nav-transparent.nav-core-sticky.core-nav .dropdown > .dropdown-menu > li > a,
nav.nav-white.nav-transparent.nav-core-sticky .menu .megamenu-content li a {
  color: #333333; }

nav.nav-white.nav-transparent.nav-core-sticky.core-nav .dropdown > .dropdown-menu > li.active > a {
  color: #C36DFF !important; }

nav.nav-white.nav-transparent.nav-core-sticky.on-scroll .menu li a:hover,
nav.nav-white.nav-transparent.nav-core-sticky.on-scroll ul.attributes li a:hover,
nav.nav-white.nav-transparent.nav-core-sticky.on-scroll.core-nav .dropdown > .dropdown-menu > li > a:hover,
nav.nav-white.nav-transparent.nav-core-sticky.on-scroll .menu .megamenu-content li a:hover,
nav.nav-white.nav-transparent.nav-core-sticky.core-nav .dropdown > .dropdown-menu > li > a:hover,
nav.nav-white.nav-transparent.nav-core-sticky .menu .megamenu-content li a:hover {
  color: #ffffff !important; }

nav.nav-white.nav-transparent.nav-core-sticky.on-scroll.core-nav .dropdown > .dropdown-menu > li > a:hover,
nav.nav-white.nav-transparent.nav-core-sticky.on-scroll .menu .megamenu-content li a:hover,
nav.nav-white.nav-transparent.nav-core-sticky.core-nav .dropdown > .dropdown-menu > li > a:hover,
nav.nav-white.nav-transparent.nav-core-sticky .menu .megamenu-content li a:hover {
  color: #C36DFF !important; }

nav.nav-white.nav-transparent .menu li a:hover,
nav.nav-white.nav-transparent ul.attributes li a:hover {
  color: #C36DFF; }

.h-0 {
  height: auto !important; }

nav .menu li.active > a {
  color: #C36DFF !important;
  border-radius: 0px; }

nav .menu li a:hover {
  color: #C36DFF !important; }

nav.on-scroll.nav-white .menu li.active > a,
nav.on-scroll.nav-white .menu li a:hover {
  color: #C36DFF !important; }

nav button {
  background: transparent;
  border: none;
  outline: none; }

.core-nav.nav-core-sticky.on-scroll {
  z-index: 9999999999; }

.core-nav .dropdown > .dropdown-menu > li > a, nav .menu .megamenu-content li a {
  font-weight: 400;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize; }

.left-menu .core-nav .wrap-core-nav-list {
  text-align: left; }

.left-menu .core-nav .nav-header {
  float: left;
  position: relative;
  display: inline-block; }

@media (max-width: 992px) {
  .left-menu .core-nav .nav-header {
    float: none;
    display: block;
    position: relative; } }
/*
DROPDOWN STYLE
=========================== */
nav .menu > li.dropdown > a::before, nav .menu > li.dropdown li.dropdown > a::before, nav .menu > li.megamenu > a::before {
  margin-left: 5px;
  content: '\f107';
  font-family: "FontAwesome";
  float: right;
  position: relative; }

nav.nav-white.nav-transparent .menu > li.dropdown > a::before, nav.nav-white.nav-transparent .menu > li.megamenu > a::before {
  color: #ffffff; }

nav.nav-white.nav-transparent.nav-core-sticky.on-scroll .menu > li.dropdown > a::before, nav.nav-white.nav-transparent.nav-core-sticky.on-scroll .menu > li.megamenu > a::before {
  color: #ffffff; }

nav.on-scroll .menu li.dropdown.open > a {
  color: #C36DFF; }

.sample-text {
  padding: 30px; }

.core-nav .wrap-core-nav-list.right .dropdown > .dropdown-menu .dropdown > .dropdown-menu {
  left: auto; }

/* =========================== */
/*
Attributes Menu
=========================== */
nav ul.attributes li a .feather {
  width: 16px;
  height: 16px; }

/*
MEGAMENU SHOPPING CART
=========================== */
.megamenu-cart {
  box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
  margin-top: -1px; }

.cart-header {
  border-bottom: solid 1px #efefef;
  padding: 15px 20px; }

.cart-header .feather {
  width: 16px;
  height: 16px; }

.cart-header .badge {
  font-size: 8px;
  line-height: 4px;
  display: inline-block;
  background: #C36DFF;
  color: #fff;
  border-radius: 4px;
  padding: 4px;
  position: relative;
  top: -6px;
  margin-left: 3px; }

.cart-header .total-price {
  float: right; }

.cart-header .total-price span {
  color: #C36DFF; }

.cart-body ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block; }

.cart-body ul li {
  position: relative;
  display: block;
  float: none;
  width: 100%;
  padding: 15px 20px;
  border-top: solid 1px #efefef;
  min-height: 90px;
  padding-left: 90px; }

.cart-body ul li:first-child {
  border: 0; }

.cart-body ul li img {
  width: 50px;
  top: 20px;
  left: 20px;
  position: absolute;
  border-radius: 4px; }

.cart-body ul li .title {
  text-transform: none;
  font-weight: 700;
  margin: 5px 0; }

.cart-body ul li .price {
  color: #C36DFF; }

.cart-body ul li .qty {
  float: right; }

.cart-body ul li .link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.cart-body ul li .link:hover {
  background: rgba(255, 255, 255, 0.3); }

.cart-footer {
  border-top: solid 1px #efefef;
  padding: 15px 20px; }

.cart-footer > a {
  padding: 15px !important;
  display: block;
  width: 100%;
  border-radius: 4px;
  background: #C36DFF;
  color: #fff !important;
  box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
  text-align: center;
  text-decoration: none; }

.cart-footer a:hover {
  opacity: 0.8; }

/*
Megamenu STYLE
=========================== */
nav .menu .megamenu-content {
  padding: 25px; }

nav .menu .megamenu-content li a {
  padding: 5px 15px; }

@media (max-width: 992px) {
  nav .menu .megamenu-content {
    padding: 5px; }

  nav .menu .megamenu-content li:last-child a {
    border-bottom: solid 1px #efefef; }

  .core-nav .wrap-core-nav-list {
    overflow-y: auto;
    overflow-x: hidden; } }
/* =========================== */
nav.core-nav.nav-core-fixed, nav.core-nav.nav-core-sticky {
  background-color: transparent;
  border-bottom: none; }

nav.nav-core-fixed .wrap-core-nav-list, nav.nav-core-fixed .nav-header, nav.core-nav.nav-core-sticky, nav.nav-core-sticky .wrap-core-nav-list, nav.nav-core-sticky .nav-header {
  background: transparent; }

nav.core-nav.nav-core-sticky.on-scroll, nav.nav-core-sticky.on-scroll .wrap-core-nav-list, nav.nav-core-sticky.on-scroll .nav-header {
  background: #000; }

nav.nav-core-sticky.on-scroll.brand-center .nav-header, nav.nav-core-sticky.on-scroll.brand-center .wrap-core-nav-list {
  background: transparent; }

.core-nav.brand-center .wrap-core-nav-list {
  z-index: 2; }

.top-bar .core-nav.nav-core-sticky {
  top: 50px; }

.top-bar .core-nav.nav-core-sticky.on-scroll {
  top: auto; }

.core-nav.nav-core-sticky {
  position: absolute;
  top: auto;
  left: auto;
  width: 100%;
  z-index: 99999999999;
  padding: 10px 0px; }

.topbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 14px 0;
  z-index: 9999;
  position: absolute;
  width: 100%;
  min-height: 50px; }

.topbar-call {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out; }

.topbar ul li {
  display: inline-block;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  margin-right: 10px; }

.topbar-social ul li a {
  color: #fff; }

.topbar-social ul li a:hover {
  color: #C36DFF; }

.topbar-call ul li a {
  margin-right: 30px;
  color: #ffffff; }

.topbar-call ul li i {
  margin-right: 5px;
  color: #ffffff; }

.topbar-social {
  position: relative;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out; }

.topbar-social ul li a {
  margin-left: 5px; }

.topbar-social ul li a span {
  margin-right: 5px;
  font-size: 12px; }

.dark-overlay-top .topbar {
  background: rgba(0, 0, 0, 0.4); }

@media (max-width: 767px) {
  .topbar {
    padding: 5px 0; }

  .topbar ul li {
    font-size: 12px; }

  .top-bar .core-nav.nav-core-sticky {
    top: 75px; }

  .top-bar .core-nav.nav-core-sticky.on-scroll {
    padding: 0; } }
@media (max-width: 375px) {
  .topbar ul li {
    font-size: 11px; } }
@media (max-width: 992px) {
  nav .full-container,
  nav .nav-container {
    padding-left: 0;
    padding-right: 0; }

  nav .nav-header {
    min-height: 60px; }

  nav .nav-header .brand {
    margin: 0 auto -3px;
    float: none;
    width: 170px;
    padding: 14px 0px; }

  nav .nav-header .toggle-bar {
    font-size: 18px;
    position: absolute;
    top: 20px;
    left: 15px; }

  nav .menu li a {
    padding: 10px 10px;
    border-bottom: solid 1px #eee;
    background: #fff; }

  .header-dark nav .menu li a {
    border-bottom: solid 1px #303b46; }

  nav .menu li:last-child a {
    border-bottom: none; }

  nav.nav-white.nav-transparent.core-nav .wrap-core-nav-list .core-nav-list {
    background: #222d38; }

  nav.nav-white.nav-transparent .menu li a {
    color: #333 !important;
    border-radius: 0; }

  nav .menu li.active > a, nav .menu li a:hover {
    color: #C36DFF !important; }

  nav.nav-white.nav-transparent .menu > li.dropdown > a::before, nav .menu > li.megamenu > a::before {
    color: #333; }

  .core-nav .wrap-core-nav-list .core-nav-list li {
    clear: both; }

  .header-dark .core-nav .dropdown > .dropdown-menu {
    background: #222d38;
    border: solid 1px #303b46; }

  .header-dark .core-nav .dropdown > .dropdown-menu > li > a {
    border-bottom: solid 1px #303b46; }

  .core-nav .dropdown .dropdown-menu {
    padding-left: 0px;
    top: -1px; }

  .core-nav.nav-core-sticky {
    padding: 0px 0px; } }
@media (max-width: 585px) {
  nav .nav-header .brand {
  margin: 0 auto -3px;
float: none;
width: 113px;
} 
}
nav.full-width .nav-container {
  padding: 0 15px;
  width: 100%; }

@media (max-width: 992px) {
  nav.full-width .nav-container {
    padding-left: 0;
    padding-right: 0; } }
nav.core-nav.nav-core-fixed.dark-overlay,
nav.core-nav.nav-core-sticky.dark-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: none; }

nav.nav-core-fixed.dark-overlay .wrap-core-nav-list,
nav.nav-core-fixed.dark-overlay .nav-header,
nav.core-nav.nav-core-sticky.dark-overlay {
  background: rgba(0, 0, 0, 0.4); }

nav.dark-overlay.core-nav.nav-core-sticky.on-scroll,
nav.dark-overlay.nav-core-sticky.on-scroll .wrap-core-nav-list,
nav.dark-overlay.nav-core-sticky.on-scroll .nav-header {
  background: #323232; }

nav.nav-white.nav-transparent.dark-overlay .menu li a,
nav.nav-white.nav-transparent.dark-overlay ul.attributes li a {
  color: #ffffff; }

nav.nav-white.nav-transparent.dark-overlay.nav-core-sticky.on-scroll .menu li a,
nav.nav-white.nav-transparent.dark-overlay.nav-core-sticky.on-scroll ul.attributes li a,
nav.nav-white.nav-transparent.dark-overlay.nav-core-sticky.on-scroll.core-nav .dropdown > .dropdown-menu > li > a,
nav.nav-white.nav-transparent.dark-overlay.nav-core-sticky.on-scroll .menu .megamenu-content li a,
nav.nav-white.nav-transparent.dark-overlay.nav-core-sticky.core-nav .dropdown > .dropdown-menu > li > a,
nav.nav-white.nav-transparent.dark-overlay.nav-core-sticky .menu .megamenu-content li a {
  color: #ffffff; }

nav.nav-white.nav-transparent.dark-overlay.nav-core-sticky.on-scroll .menu li a:hover,
nav.nav-white.nav-transparent.dark-overlay.nav-core-sticky.on-scroll ul.attributes li a:hover,
nav.nav-white.nav-transparent.dark-overlay.nav-core-sticky.on-scroll.core-nav .dropdown > .dropdown-menu > li > a:hover,
nav.nav-white.nav-transparent.dark-overlay.nav-core-sticky.on-scroll .menu .megamenu-content li a:hover,
nav.nav-white.nav-transparent.dark-overlay.nav-core-sticky.core-nav .dropdown > .dropdown-menu > li > a:hover,
nav.nav-white.nav-transparent.dark-overlay.nav-core-sticky .menu .megamenu-content li a:hover {
  color: #C36DFF; }

nav.nav-white.nav-transparent.dark-overlay .menu li a:hover,
nav.nav-white.nav-transparent.dark-overlay ul.attributes li a:hover {
  color: #C36DFF; }

nav.nav-white.nav-transparent.dark-overlay .menu > li.dropdown > a::before,
nav.nav-white.nav-transparent.dark-overlay .menu > li.megamenu > a::before {
  color: #ffffff; }

nav.nav-white.nav-transparent.dark-overlay.nav-core-sticky.on-scroll .menu > li.dropdown > a::before,
nav.nav-white.nav-transparent.dark-overlay.nav-core-sticky.on-scroll .menu > li.megamenu > a::before {
  color: #ffffff; }

nav.nav-white.nav-transparent.dark-overlay.core-nav .megamenu > .megamenu-content {
  background: #323232;
  border: solid 1px #4a4a4a; }

nav.nav-white.nav-transparent.dark-overlay.core-nav .dropdown > .dropdown-menu {
  background: #323232;
  border: none; }

nav.nav-white.nav-transparent.dark-overlay.core-nav .dropdown > .dropdown-menu > li > a {
  border-bottom: solid 1px #4a4a4a; }

nav.nav-white.nav-transparent.dark-overlay.core-nav .cart-header {
  border-bottom: solid 1px #4e4e4e; }

nav.nav-white.nav-transparent.dark-overlay.core-nav .cart-body ul li .title {
  color: #cccccc; }

nav.nav-white.nav-transparent.dark-overlay.core-nav .cart-body ul li, nav.nav-white.nav-transparent.dark-overlay.core-nav .cart-footer {
  border-top: solid 1px #4e4e4e; }

@media (max-width: 992px) {
  nav.nav-white.nav-transparent.dark-overlay.core-nav .wrap-core-nav-list .core-nav-list {
    background: #323232; }

  nav.nav-white.nav-transparent.dark-overlay .menu li a,
  nav.nav-white.nav-transparent.dark-overlay.core-nav .wrap-core-nav-list {
    border-bottom: solid 1px #4a4a4a;
    border-top: solid 1px #4a4a4a; } }
@media (max-width: 414px) {
  nav.nav-white.nav-transparent .menu li a:active {
    color: #fff !important;
    border-radius: 0; }

  nav.nav-white.nav-transparent .menu li a {
    color: #333 !important;
    border-radius: 0;
    background: #f9f9f9; }

  nav.nav-white.nav-transparent .menu li a:hover {
    color: #C36DFF !important; }

  nav.nav-white.nav-transparent .menu > li.dropdown > a::before, nav.nav-white.nav-transparent .menu > li.megamenu > a::before {
    color: #333; } }
.header-light .core-nav.nav-core-sticky {
  position: relative; }

.header-light .core-nav.nav-core-sticky.on-scroll {
  position: fixed; }

.header-light nav.nav-core-fixed .wrap-core-nav-list,
.header-light nav.nav-core-fixed .nav-header,
.header-light nav.core-nav.nav-core-sticky,
.header-light nav.nav-core-sticky .wrap-core-nav-list,
.header-light nav.nav-core-sticky .nav-header {
  background: #ffffff; }

.header-light .topbar ul li,
.header-light .topbar-call ul li a,
.header-light .topbar-social ul li a {
  color: #3a3a3a; }

.header-light .topbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff; }

@media (max-width: 992px) {
  .core-nav .nav-header {
    z-index: 9; } }
.header-dark .core-nav.nav-core-sticky {
  position: relative; }

.header-dark .core-nav.nav-core-sticky.on-scroll {
  position: fixed; }

.header-dark nav.nav-core-fixed .wrap-core-nav-list,
.header-dark nav.nav-core-fixed .nav-header,
.header-dark nav.core-nav.nav-core-sticky,
.header-dark nav.nav-core-sticky .wrap-core-nav-list,
.header-dark nav.nav-core-sticky .nav-header {
  background: #323232; }

.header-dark .core-nav .dropdown > .dropdown-menu {
  background: #323232; }

.header-dark .core-nav .dropdown > .dropdown-menu {
  border: solid 1px #323232; }

.header-dark .core-nav .dropdown > .dropdown-menu > li > a {
  border-bottom: solid 1px #404040; }

.header-dark nav .menu li a:hover {
  color: #C36DFF !important; }

.header-dark .core-nav .megamenu > .megamenu-content {
  background: #323232;
  border: solid 1px #404040; }

.header-dark .core-nav .megamenu > .megamenu-content.megamenu-cart {
  background: #ffffff;
  border: solid 1px #efefef; }

.header-dark .topbar ul li,
.header-dark .topbar-call ul li a,
.header-dark .topbar-social ul li a,
.header-dark nav .menu li a,
.header-dark ul.attributes li a {
  color: #fff; }

@media only screen and (max-width: 991px) {
  .header-dark nav .menu li a {
    color: #333; } }
.header-dark nav .menu li .dropdown-menu a,
.header-dark nav .menu .megamenu-content li a {
  color: #ffffff; }

.header-dark .topbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: #323232; }

@media (max-width: 992px) {
  .header-dark nav .menu li a {
    border-bottom: solid 1px #464646; }

  .header-dark .core-nav .wrap-core-nav-list {
    border-bottom: solid 1px #464646;
    border-top: solid 1px #464646; }

  .header-dark .core-nav .dropdown > .dropdown-menu,
  .header-dark .core-nav .megamenu > .megamenu-content {
    background: #323232; }

  .header-dark nav .menu li .dropdown-menu a,
  .header-dark nav .menu .megamenu-content li a {
    color: #333; }

  .header-dark .core-nav .dropdown > .dropdown-menu > li > a,
  .header-dark nav .menu .megamenu-content li:last-child a,
  .header-dark .core-nav .megamenu > .megamenu-content {
    border-bottom: solid 1px #464646; } }
.header-dark-topbar .core-nav.nav-core-sticky {
  position: relative; }

.header-dark-topbar .core-nav.nav-core-sticky.on-scroll {
  position: fixed; }

.header-dark-topbar nav.nav-core-fixed .wrap-core-nav-list,
.header-dark-topbar nav.nav-core-fixed .nav-header,
.header-dark-topbar nav.core-nav.nav-core-sticky,
.header-dark-topbar nav.nav-core-sticky .wrap-core-nav-list,
.header-dark-topbar nav.nav-core-sticky .nav-header {
  background: #ffffff; }

.header-dark-topbar .topbar ul li,
.header-dark-topbar .topbar-call ul li a,
.header-dark-topbar .topbar-social ul li a {
  color: #ffffff; }

.header-dark-topbar nav .menu li a
.header-dark-topbar ul.attributes li a {
  color: #3a3a3a; }

.header-dark-topbar nav .menu li .dropdown-menu a,
.header-dark-topbar nav .menu .megamenu-content li a {
  color: #3a3a3a; }

.header-dark-topbar .topbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: #323232; }

header nav.header-fancy .nav-container {
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); }

header nav.header-fancy.core-nav {
  padding: 0px;
  top: 30px; }

header nav.header-fancy .menu li a {
  padding: 20px 20px;
  font-weight: 500; }

header nav.header-fancy .brand {
  padding: 3px 0px; }

header nav.header-fancy ul.attributes li a {
  padding: 20px 10px; }

header nav.header-fancy .menu .megamenu-content li a {
  padding: 5px 15px; }

.core-nav.header-fancy .wrap-core-nav-list .core-nav-list {
  margin: 0 0 -7px 0; }

nav.header-fancy.core-nav.nav-core-sticky.on-scroll, nav.header-fancy.nav-core-sticky.on-scroll .wrap-core-nav-list, nav.header-fancy.nav-core-sticky.on-scroll .nav-header {
  background: #ffffff; }

@media (max-width: 992px) {
  header nav.header-fancy.nav-core-fixed .wrap-core-nav-list,
  header nav.header-fancy.nav-core-fixed .nav-header,
  header nav.header-fancy.nav-core-sticky .wrap-core-nav-list,
  header nav.header-fancy.nav-core-sticky .nav-header {
    background: #ffffff;
    border-bottom: none; }

  header nav.header-fancy.core-nav {
    top: 9px; }

  header nav.header-fancy .menu li a {
    padding: 10px 20px; } }
@media (max-width: 767px) {
  header nav.header-fancy.core-nav {
    top: 0px; } }

.header-fancy-topbar .topbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 14px 0 55px;
  background-color: #C36DFF; }

.header-fancy-topbar .topbar-call ul li i {
  color: #ffffff; }

.header-fancy-topbar .topbar-social ul li a:hover {
  color: #000000; }

header nav.header-fancy.on-scroll .nav-container {
  box-shadow: none; }

@media (max-width: 767px) {
  .header-fancy-topbar .topbar {
    padding: 14px 0; }

  header.top-bar nav.header-fancy.core-nav.nav-core-sticky {
    top: 75px; }

  header.top-bar nav.header-fancy.core-nav.nav-core-sticky.on-scroll {
    top: 0; } }
.header-full-width nav.full-width .nav-container {
  padding: 0 15px;
  width: 100%; }

nav.side-nav .wrap-core-nav-list {
  background: #fff; }

nav.side-nav .nav-header {
  background: #fff;
  padding: 30px 25px;
  margin-bottom: 30px; }

nav.side-nav .nav-header .brand {
  display: block;
  position: relative;
  width: 170px; }

nav.side-nav .nav-header .brand img {
  width: 100%; }

nav.side-nav .menu li a {
  display: block;
  padding: 10px 25px;
  text-decoration: none;
  color: #3a3a3a; }

nav.side-nav .menu li a:hover {
  color: #C36DFF; }

/*
DROPDOWN STYLE
=========================== */
nav.side-nav .menu li.dropdown > a::before {
  margin-left: 10px;
  content: '';
  border-top: solid 5px #6a6a6a;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  float: right;
  position: relative;
  top: 8px; }

nav.side-nav .menu li.dropdown.open > a {
  color: #C36DFF; }

/* =========================== */
@media (max-width: 992px) {
  nav.side-nav .nav-header {
    padding: 0;
    min-height: 60px;
    margin-bottom: 0;
    border-bottom: solid 1px #efefef; }

  nav.side-nav .nav-header .brand {
    margin: 0 auto 5px;
    float: none;
    display: block;
    width: 170px;
    position: relative;
    top: 17px; }

  nav.side-nav .nav-header .brand img {
    width: 100%; }

  nav.side-nav .nav-header .toggle-bar {
    font-size: 18px;
    position: absolute;
    top: 17px;
    left: 15px; }

  nav.side-nav .menu li a {
    padding: 10px 10px;
    border-bottom: solid 1px #efefef; }

  nav.side-nav .menu li:last-child a {
    border-bottom: 0; } }
/* ============Nav Sidebar=============== */
nav.sidebar-nav {
  background-color: #ffffff !important;
  z-index: 1; }

nav.sidebar-nav.dark-side-nav {
  background-color: #212121 !important; }

nav.sidebar-nav .wrap-core-nav-list {
  background: #fff; }

nav.sidebar-nav.dark-side-nav .wrap-core-nav-list {
  background: #212121; }

nav.sidebar-nav .nav-header {
  background: #fff;
  padding: 30px 25px; }

nav.sidebar-nav.dark-side-nav .nav-header {
  background: #212121; }

nav.sidebar-nav.dark-side-nav.nav-sidebar {
  border-right: solid 1px #212121; }

nav.sidebar-nav .nav-header .brand {
  display: block;
  position: relative;
  width: 160px;
  padding: 0 !important; }

nav.sidebar-nav .nav-header .brand img {
  width: 100%; }

nav.sidebar-nav .menu {
  display: block; }

nav.sidebar-nav .menu li a {
  display: block;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  color: #3a3a3a;
  position: relative; }

nav.sidebar-nav.dark-side-nav .menu li a {
  color: #f2f2f2; }

nav.sidebar-nav .menu li a:hover {
  color: #C36DFF; }

nav.sidebar-nav.dark-side-nav .menu li a:hover {
  color: #C36DFF; }

nav.sidebar-nav .menu li a .feather {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 22px;
  left: 30px; }

nav.sidebar-nav .attributes .feather {
  width: 18px;
  height: 18px; }

/*
DROPDOWN STYLE
=========================== */
nav.sidebar-nav .menu li.dropdown > a::before {
  margin-left: 10px;
  content: '';
  border-top: solid 5px #a1aad1;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  float: right;
  position: relative;
  top: 8px; }

nav.sidebar-nav .menu li.dropdown.open > a::before {
  border-top: 0;
  border-bottom: solid 5px #a1aad1; }

nav.sidebar-nav .menu li.dropdown > .dropdown-menu > li.dropdown > a::before {
  left: -13px; }

nav.sidebar-nav .menu li.dropdown.open > a {
  color: #C36DFF;
  border: 0; }

nav.sidebar-nav .menu > li.dropdown > .dropdown-menu {
  border: 0 !important;
  border-top: solid 1px #efefef !important;
  border-bottom: solid 1px #efefef !important;
  padding-left: 45px !important; }

nav.sidebar-nav .menu li.dropdown .dropdown-menu {
  background: #fafafa; }

nav.sidebar-nav .menu li.dropdown .dropdown-menu a {
  border: 0; }

nav.sidebar-nav .menu li.active > a, nav.sidebar-nav .menu li a:hover {
  text-decoration: none !important; }

nav.sidebar-nav ul.attributes li a {
  color: #cccccc; }

nav.sidebar-nav ul.attributes li a:hover {
  color: #C36DFF; }

@media (min-width: 992px) {
  nav.sidebar-nav {
    font-size: 1.6rem;
    font-weight: 300; }

  nav.sidebar-nav {
    box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1); }

  nav.sidebar-nav .wrap-core-nav-list {
    display: block;
    margin-top: 150px;
    padding: 0 !important; }

  nav.sidebar-nav .menu > li > a {
    border-bottom: solid 0px #efefef; }

  nav.sidebar-nav .menu > li:first-child > a {
    border-top: solid 0px #efefef; }

  nav.sidebar-nav .attributes {
    border-top: solid 1px #dfdfdf;
    border-right: solid 1px #dfdfdf;
    background: #fff;
    padding: 5px 20px;
    text-align: center; }

  nav.sidebar-nav.dark-side-nav .attributes {
    border-top: solid 1px #333333;
    border-right: solid 1px #333333;
    background: #212121; } }
@media (max-width: 992px) {
  nav.sidebar-nav .nav-header {
    padding: 0;
    min-height: 60px;
    margin-bottom: 0;
    border-bottom: solid 1px #efefef; }

  nav.sidebar-nav.dark-side-nav .nav-header {
    border-bottom: solid 1px #333333; }

  nav.sidebar-nav.dark-side-nav ul.attributes li a {
    color: #cccccc; }

  .core-responsive-slide nav.sidebar-nav.dark-side-nav.core-nav .wrap-core-nav-list {
    border-right: solid 1px #333333; }

  nav.sidebar-nav .nav-header .brand {
    margin: 0 auto 5px;
    float: none;
    display: block;
    width: 120px;
    position: relative;
    top: 12px; }

  nav.sidebar-nav .nav-header .brand img {
    width: 100%; }

  nav.sidebar-nav .nav-header .toggle-bar {
    font-size: 18px;
    position: absolute;
    top: 17px;
    left: 15px; }

  nav.sidebar-nav .menu {
    border-bottom: solid 1px #efefef; }

  nav.sidebar-nav .menu > li > a {
    border-bottom: solid 1px #efefef; }

  nav.sidebar-nav.dark-side-nav .menu {
    border-bottom: solid 1px #333333; }

  nav.sidebar-nav.dark-side-nav .menu > li > a {
    border-bottom: solid 1px #333333; }

  nav.sidebar-nav .attributes li a {
    padding: 19px 4px !important; }

  nav.sidebar-nav .attributes .feather {
    width: 16px;
    height: 16px; }

  nav.sidebar-nav .menu li a {
    padding: 20px 30px 20px 30px; } }
.core-content.open-side-menu {
  margin-left: 0px;
  margin-right: 0px; }

.core-content.open-side-menu .side-menu, .side-menu.before-side {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.core-content .side-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: auto;
  border-left: none;
  background: #222d38;
  z-index: 1032;
  height: 100%;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  -o-transition: -o-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease, -o-transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  overflow: hidden; }

.side-menu .side-nav-list.navbar-nav .nav-item {
  display: block;
  margin: 10px 0;
  padding: 0 !important; }

.side-menu .side-nav-list .nav-link {
  display: inline-table;
  color: #ffffff;
  padding: 2px 0 3px 0 !important;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: normal;
  position: relative;
  -webkit-border-radius: 0;
  border-radius: 0; }

.side-menu .inner-wrapper {
  padding: 3.5rem 5rem;
  height: 100%;
  position: relative;
  overflow-y: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.side-menu .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  background: #fff;
  display: inline-block;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
  transition: all 0.5s cubic-bezier(0, 0, 0.2, 1); }

.side-menu .navbar-nav .nav-link:hover::after, .side-menu .navbar-nav .nav-link:focus::after, .side-menu .navbar-nav .nav-link.active::after {
  width: 100%; }

.side-menu .social-icons-simple {
  margin-bottom: 0;
  margin-left: -10px; }

.side-menu .social-icons-simple li {
  display: inline-block; }

.side-menu .social-icons-simple li a {
  display: block;
  font-size: 16px;
  height: 36px;
  line-height: 38px;
  border: 1px solid transparent;
  text-align: center;
  width: 36px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: background-color .5s ease;
  -o-transition: background-color .5s ease;
  transition: background-color .5s ease; }

.side-menu .side-footer p {
  margin-top: .5rem;
  margin-bottom: 0; }

.side-menu .toggle-side-menu {
  height: 33px;
  width: 33px;
  font-size: 33px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 30px;
  right: 33px;
  cursor: pointer; }

/*---fullscreen---*/
@media (min-width: 992px) {
  .fullscreen .menu li a {
    display: inline-table;
    color: #ffffff;
    padding: 10px 0 10px 0 !important;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: normal;
    position: relative;
    -webkit-border-radius: 0;
    border-radius: 0; }

  .fullscreen .menu li a::after {
    content: "";
    position: absolute;
    background: #fff;
    display: inline-block;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    -o-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1); }

  nav.fullscreen .menu li.active > a {
    color: #ffffff !important;
    background-color: transparent;
    border-radius: 0px; }

  .core-nav.fullscreen .dropdown > .dropdown-menu {
    width: auto;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #ffffff; }

  .core-nav.fullscreen .dropdown > .dropdown-menu > li > a {
    border-bottom: none;
    color: #cccccc; }

  nav.nav-white.nav-transparent.nav-core-sticky.core-nav.fullscreen .dropdown > .dropdown-menu > li > a {
    color: #cccccc; }

  .fullscreen .menu li a:hover::after, .fullscreen .menu li a:focus::after, .fullscreen .menu li a.active::after {
    width: 100%; }

  .core-nav.fullscreen .core-nav-toggle {
    top: 8px; }

  .core-nav.fullscreen .wrap-core-nav-list {
    background-color: #222d38; } }

    .footer.bg-black .address a span {
	color: #898989;
	font-size: 14px;
} 
.social-icons ul {
	padding: 0;
	float: right;
}
@media (min-width: 992px) {
  .brand-center ul.attributes {
    position: absolute;
    right: -50px; }

  .brand-center .nav-header {
    height: 0;
    z-index: 3; }

  .core-nav.brand-center .nav-header .brand {
    float: initial; }

  .core-content.open-side-menu nav.nav-core-sticky.on-scroll {
    margin-left: inherit;
    margin-right: inherit; } }

@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation: portrait){
nav .nav-header .brand {
	margin: 0 auto -3px;
	float: none;
	width: 120px;
	padding: 14px 0px;
}

}

@media only screen and (max-width: 414px) {
	.social-icons ul {
	padding: 0;
	float: none !important;
}
.app-menu {
	position: absolute;
	top: 22px;
	left: 15px;
	padding: 0px;
	margin: 0px;
}
.nav-header ul.attributes li a {
	padding: 14px 8px;
}
.topbar-call {
	
	margin-left: 12%;
}
}

  @media only screen and (max-width: 479px){  
  .footer.bg-black .address i {
    display: contents;
  }
}


